@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap");

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

header {
  background: none !important;
}

h1 {
  display: grid;
  grid-column: 1/4;
  grid-row: 1;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 800;
  font-size: 3rem;
  color: 000;
  align-items: center;
  background-color: none !important;
}
